h2 {color: green}
h2 {font-size:300%;}
h2 {text-align: center;}
h3 {font-size: 150%;}
h3 {text-align: left;}
h4 {font-size: 150%;}
h1 {color: red}
#capa {width: 25%;}
h1 {text-align: center;}
h4 {color: red}
#capa {margin-left: 37%;}

